---
title: Collaborators
---

%h1= current_page.data.title

.clearfix
  = image_tag "http://drexel.edu/~/media/Images/biomed/faculty/jaron-dov.ashx", alt: "Dov Jaron, PhD", class: "left", width: "150"
  %h5 Dov Jaron, PhD
  %p
    Calhoun Distinguished Professor of Engineering in Medicine
    %br
    Drexel University School of Biomedical Engineering, Science and Health Systems
  %p
    = link_to "View Full Profile", "http://drexel.edu/biomed/faculty/core/JaronDov/", class: "more-link"

%hr

.clearfix
  = image_tag "http://drexel.edu/~/media/Images/biomed/faculty/buerk-donald.ashx", alt: "Donald Buerk, PhD", class: "left", width: "150"
  %h5 Donald Buerk, PhD
  %p
    Research Professor
    %br
    Drexel University School of Biomedical Engineering, Science and Health Systems
  %p
    = link_to "View Full Profile", "http://drexel.edu/biomed/faculty/core/BuerkDonald/", class: "more-link"

%hr

.clearfix
  = image_tag "http://drexel.edu/~/media/Images/materials/faculty-headshots/michelemarcolongojpg.ashx", alt: "Michele Marcolongo, PhD", class: "left", width: "150"
  %h5 Michele Marcolongo, PhD
  %p
    Department Head and Professor
    %br
    Drexel University College of Engineering
    %br
    Department of Materials Science and Engineering
  %p
    = link_to "View Full Profile", "http://drexel.edu/materials/contact/faculty/marcolongo/", class: "more-link"


